.art-one {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .thumb {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 65%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
         &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.35);
            z-index: 2;
            content: "";
            transition: all 0.2s ease-in-out 0s;
        }
    }
   
    header {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 25px;
        z-index: 2;
        h3 {
            font-size: 24px;
            margin-bottom: 0;
            a {
                color: $white;
                text-decoration: none;

            }
        }
    }
    &:hover {
        
        .thumb {
            &:after {
                background: rgba($color: #000000, $alpha: 0.5);
            }
        }
       
    }
    &.active {
        
        .thumb {
            &:after {
                background: rgba($color: #000000, $alpha: 0.5);
            }
        }
       
    }
    @include lg(){
        margin-bottom: 16px;
        .thumb {
            padding-bottom: 110%;
        }
    }
}

.art-two {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
   
    .thumb {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 48%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.35);
        z-index: 1;
        content: "";
        transition: all 0.2s ease-in-out 0s;
    }
    header {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        z-index: 2;
        width: 100%;
        height: 100%;
        h3 {
            font-size: 20px;
            width: 100%;
            height: 100%;
            a {
                color: $white;
                text-decoration: none;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                display: flex;

            }
        }
    }
    &:hover {
        
        .thumb {
            &:after {
                background: rgba($color: #000000, $alpha: 0.5);
            }
        }
       
    }
    &.active {
        
        .thumb {
            &:after {
                background: rgba($color: #000000, $alpha: 0.5);
            }
        }
       
    }
    // @include lg(){
        
    // }
}

.art-free {
    margin-bottom: 16px;
    .inner {
        position: relative;
        .wlish {
            display: none;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 2;
            cursor: pointer;
            .layer {
                display: none;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 100%;
                padding: 5px 8px;
                background: rgba($color: #000000, $alpha: 0);
                font-size: 11px;
                color: #fff;
                border-radius: 5px;
                margin-left: -28px;
                margin-top: 10px;
                &:after {
                    position: absolute;
                    content: "";
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid rgba($color: #000000, $alpha: 0.5);
                    top: -5px;
                    left: 50%;
                    margin-left: -6.5px;
                   
                }
            }
            &:hover {
                .layer {
                    display: block;
                }
            }
        }
    }
    
    .thumb {
        display: block;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0);
            z-index: 1;
            content: "";
            transition: all 0.2s ease-in-out 0s;
        }
        img {
            width: 100%;
            display: block;
        }
    }
   
    header {
       margin-top: 12px;
        h4 {
            font-size: 13px;
            a {
                color: #555;
                text-decoration: none;
            }
        }
    }
    &:hover {
        &:after {
            background: rgba($color: #000000, $alpha: 0.5);
        }
    }
    &:hover {
        .wlish {
            display: block;
        }
        .thumb {
            &:after {
                background: rgba($color: #000000, $alpha: 0.4);
            }
        }
    }
}

.art-detail {
    padding-left: 30px;
    h1 {
        margin-top: 0;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .price {
        margin-bottom: 0px;
        display: flex;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        span {
            width: 80px;
            font-size: 14px;
            font-weight: 400;
        }
    }
    section {
        ul {
            padding-left: 20px;
            li {
                margin-bottom: 8px;
                
            }
        }
    }
    .choose-kind {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        .choose-price {
            padding: 5px 15px;
            border-color: #999;
            margin-left: 20px;
            margin-right: 20px;
            min-width: 130px;
        }
    }
    .price-main {
        padding: 20px 0;
        font-weight: 600;
        font-size: 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        
    }
    .add-cart {
        padding: 5px 0 20px 0;
        // border-bottom: 1px solid #eee;
        // margin-bottom: 20px;
    }
    .btn-add-cart {
        border: 1px solid #DDC156;
        height: 40px;
        border-radius: 3px;
        color: #DDC156;
        font-size: 16px;
        display: inline-block;
        padding: 0 20px;
        line-height: 40px;
        cursor: pointer;
    }
    @include lg(){
        padding-left: 0;
        padding-top: 20px;
        border-bottom: 2px solid #eee;
    }
}