.btn, button {
    border: 0;
    padding: 0 15px;
    margin: 0;
    outline: none;
    transition: all .2s ease-in-out 0s;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    &.btn-white {
        color: #555;
        text-align: center;
        background: $white;
    }
    &.btn-yellow {
        color: #555;
        text-align: center;
        background: $main;
        &:hover {
            background-color:#c5ac48;
            color: #fff;
        }

    }
   
}