.footer {
    padding: 40px 0 10px 0;
    border-top: 3px solid #eee;
    margin-top: 20px;
    h5 {
        font-size: 18px;
        font-weight: 600;
    }
    address {
        display: inline-block;
        margin: 0;
    }
    ul {
        li {
            margin-bottom: 8px;
        }
        &.list-cate-footer {
            list-style: none;
            li {
                a {
                    color: $main;
                    text-decoration: none;
                }
                &::before {
                    content: "\2022";
                    color: $main;
                    font-weight: bold;
                    display: inline-block; 
                    width: 14px;
                    margin-left: -1em;
                }
            }
        }
    }
    .copyright {
        margin-top: 20px;
        font-weight: 600;
      
    }
    @include lg(){

        .copyright {
            text-align: center;
            
        }
        .col-lg-2 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
.style-italic {
    font-style: italic;
}
.style-left {
    margin-left: 91px;
}