body {
    @include lg(){
        padding-top: 55px;
        padding-bottom: 55px;
    }
}
.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.title-1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}

.outer {
    column-count: 6;
    column-gap: 16px;
    .art-free {
        display: grid;
        grid-template-rows: 1fr auto;
      
        break-inside: avoid;
    }
    @include min-xxxl() {
        column-count: 9;
    } 
    @include xxl() {
        column-count: 5;
    } 
    @include xl() {
        column-count: 4;
    } 
    @include lg() {
        column-count: 3;
    }
    @include md() {
        column-count: 2;
    } 
}
section  {
    padding: 25px 0;
    &.section-top {
        padding-top: 50px;
        @include lg() {
            .container{
                max-width: 100%;
            }
        }
    }
    &.section-cate {
      
        @include lg() {
            .container{
                max-width: 100%;
            }
        }
    }
    &.section-free {
        .container-fluid {
          
            @include  min-lg() {
                padding-left: 50px;
                padding-right: 50px;
            } 
        }
    }
}

.row {
    margin-left: -5px;
    margin-right: -5px;
    >* {
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-lg-5 {
        flex: 1 0 20%;
        @include lg(){
            flex: 1 0 33.33%;
            max-width: 33.33%;
        }
        @include sm(){
            flex: 1 0 50%;
            max-width: 50%;
        }
    }
}

.section-detail {
    .container {
        max-width: 1000px;
    }
}

.section-des {
    h2 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    figure {
        text-align: center;
        figcaption {
            margin-top: 10px;
            font-size: 12px;
            font-style: italic;
        }
    }
}
.section-info {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    .title2 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .outer-radio {
        display: flex;
        .form-check {
            margin-right: 30px;
            cursor: pointer;
        }
    }
    .outer-btn {
        margin-top: 25px;
        display: flex;
        .btn-white {
            height: 40px;
            line-height: 40px;
            border: 1px solid $main;
            border-radius: 3px;
            color: $main;
            margin-right: 20px;
            text-align: center;
            width: 130px;
        }
        .btn-yellow {
            text-align: center;
            width: 130px;
            border-radius: 3px;
            color: #fff;
        }
    }
    
}
.outer-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    a {
        margin: 0 10px;
        color: #555;
        text-decoration: none;
        &.active {
            text-decoration: underline;
        }
    }
}
.section-cart {
    margin-bottom: 60px;
    .row {
        margin-left: -20px;
        margin-right: -20px;
        .col-lg-8 {
            padding-left: 20px;
            padding-right: 20px;
        }
        .col-lg-4 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .title-cart {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .outer-border {
        border: 1px solid #ddd;
        .title-kind {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            font-weight: 500;
        }
        .product {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            justify-content: space-between;
            padding: 10px 20px;
            article {
               
                width: 350px;
                display: flex;
               
                > a {
                    width: 80px;
                }
                .des {
                    padding-left: 16px;
                    h4 {
                        font-size: 16px;
                        a {
                            text-decoration: none;
                            color: #555;
                        }
                    }
                }
            }
            >.price {
                font-size: 16px;
                font-weight: 600;
                color: $main;
            }
            @include lg(){
                display: block;
                .count {
                    margin-top: 10px;
                }
            }
            
        }
        .btn-buy-more {
            height: 40px;
            line-height: 40px;
            border: 1px solid $main;
            border-radius: 3px;
            color: $main;
            margin-right: 20px;
            text-align: center;
            min-width: 130px;
            padding-left: 15px;
            padding-right: 15px;
            display: inline-block;
            text-decoration: none;
            margin-left: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            background: $white;
        }
        .address {
            padding: 10px 0;
            margin: 0 15px;
            border-bottom: 1px solid #ddd;
            
            p {
                margin-bottom: 0;
            }
            span {
                font-weight: 600;
                display: block;
            }
            .change {
                font-size: 12px;
            }
           
            &.code {
                border: 0;
                .txt-code {
                    width: 100%;
                    height: 24px;
                    border: 1px solid $main;
                    margin-top: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        .price-style {
            margin: 10px 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            strong {
                font-size: 16px;
            }
        }
        .total {
            padding: 10px 0;
            margin: 0 15px;
            border-top: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            strong {
                font-size: 18px;
                color: $main;
            }
        }
        .note{
            padding: 0 15px;
            color: #aaa;
        }
    }
   
}

.section-success {
    text-align: center;
    .success {
        width: 100%;
        max-width: 600px;
        margin: 60px auto 80px auto;
        strong {
            display: block;
            margin-top: 20px;
            margin-bottom:5px;
            font-size: 24px;
        }
        p {
            .phone {
                color: #444;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

.add-cart {
    display: flex;
    align-items: center;
}
.numbers{
    margin-left: 30px;
    span {cursor:pointer; }
    .minus, .plus{
        width:20px;
        height:40px;
       
        border-radius:4px;
        padding:0;
        text-align: center;
        line-height: 40px;
       
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
    }
    input{
        height:40px;
        width: 40px;
        text-align: center;
        font-size: 16px;
        border:1px solid #ddd;
        border-radius:4px;
        display: inline-block;
        vertical-align: middle;
    } 
}

.input-group.date {
    position: relative;
    input {
        border-radius: 3px;
    }
    .icon-calendar {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9;
    }
}



  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 16%;
    @include lg(){
        width: 33.3333%;
    }
    @include sm(){
        width: 50%;
    }
  }
  
  .grid-item {
    float: left;
    padding: 0 5px;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  

  .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #DDC156;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .outer-slide {
    display: flex;
    align-items: flex-start;
    .mySwiper {
        width: 90px;
        height: 700px;
        padding-right: 10px;
    }
    .mySwiper2 {
        width: 1px;
        flex-grow: 1;
    }
  }

  .price-style {
    padding: 16px 0;
    border-top: 1px solid #eee;
    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .outer-size {
        display: flex;
        > div {
            margin-right: 10px;
        }
        .radio-size{
          
            label {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                display: block;
                position: relative;
            }
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        @include lg(){
            flex-wrap: wrap;
        }
    }
  }

  .radio-size {
    display: block;
    position: relative;
    // padding-left: 35px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            border:1px solid #e4393c;
          }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 35px;
        width: 35px;
        border:1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
      }
      &:hover input ~ .checkmark {
        background-color: #fff;
      }
  }


  .radio-color {
    display: block;
    
    // padding-left: 35px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 29px;
    margin-left: 4px;
    label {
        position: relative;
        width: 35px;
        height: 35px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
           
            &:after {
                content: "";
                left: -4px;
                top: -4px;
                width: 35px;
                height: 35px;
                border: solid 1px #e4393c;
               
                position: absolute;
              }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 27px;
        width: 27px;
       
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 50%;
        background-color: red;
        &:after {
            content: "";
            left: -4px;
            top: -4px;
            width: 35px;
            height: 35px;
            border: solid 1px #ddd;
           
            position: absolute;
          }
      }
    //   &:hover input ~ .checkmark {
    //     background-color: #fff;
    //   }
  }

  .radio-service {
    display: block;
   
    // padding-left: 35px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    label {
        position: relative;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            border:1px solid #e4393c;
          }
    }
    .checkmark {
        // position: absolute;
        // top: 0;
        // left: 0;
        // height: 35px;
        // width: 35px;
        border:1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        height: 35px;
        padding: 0 15px;
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
      }
      &:hover input ~ .checkmark {
        background-color: #fff;
      }
  }

  .outer-date{
    display: flex;
    .date {
        span {
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
        }
        .gj-datepicker {
            width: 210px!important;
        }
        &:first-child {
            margin-right: 32px;
            @include lg(){
                margin-bottom: 10px;
            }
        }
        button {
            height: 36px;
            border-radius: 0;
            width: 36px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        input {
            height: 36px;
            border-radius: 0;
        }
    
    }
    @include lg(){
        flex-wrap: wrap;
    }
  }

  .section-detail {
    @include lg(){
        padding-top: 0!important;
    }
  }