.header{
    .top-header {
        padding: 10px 0;
        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            address {
                margin: 0;
            }
            .header-tool{
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;
                .item-tool {
                    display: flex;
                    align-items: center;
                    margin-right: 30px;
                    img {
                        margin-right: 5px;
                    }
                    .phone {
                        text-decoration: none;
                        color: #555;
                    }
                    &.search {
                        display: none;
                        @include lg(){
                            display: block;
                        }
                    }
                    .btn-account {
                        display: flex;
                        align-items: center;
                        span {
                            margin: 0 5px; 
                        }
                        b {
                            font-style: normal;
                            font-weight: 400;
                            @include lg(){
                                 display: none;
                            }
                        }
                    }
                    @include lg(){
                        margin-right: 0;
                    }
                }
                .btn {
                    i {
                        display: none ;
                    }
                }
            }
        }
        @include lg(){
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            box-shadow: 0 0 3px #ddd;
            z-index: 999;
            background: $white;
            padding: 7px 0;
            border-top: 1px solid #eee;
            .container-fluid {
                address {
                    display: none;
                }
                .header-tool {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .item-tool{
                       
                        &:first-child {
                            display: none;
                        }
                        span {
                            display: none;
                        }
                    }
                    .btn {
                        padding: 0;
                        background: none;

                        i {
                            display: block;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .bottom-header {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 15px 0;
       
        .container-fluid { 
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
        }
        .left {
            display: flex;
            align-items: center;
            .logo {
                margin-right: 10px;
            }
            .nav {
                
                > ul {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    > li {
                        position: relative;
                        margin-left: 30px;
                        a,span {
                            font-size: 16px;
                            color: #555;
                            text-decoration: none;
                            cursor: pointer;
                            &.show {
                                color: $main;
                            }
                            &:hover {
                                color: $main;
                            }
                        }
                        .icon-menu {
                            display: none;
                        }
                        .sub-nav {
                           border-radius: 16px;
                            // position: absolute;
                            // left: 0;
                            // top: 100%;
                            // list-style: none;
                            // min-width: 300px;
                            // display: none;
                            // padding: 0;
                            border-color: #eee;
                            margin-top: 12px!important;
                            margin-left: -20px!important;
                            box-shadow: 0 0 5px #eee;
                            
                            li {
                                a {
                                    display: block;
                                    padding: 8px 16px;
                                }
                            }
                            @include lg(){
                                position: fixed!important;
                                width: 100vw;
                                transform: translate3d(0, 54px, 0)!important;
                                border-radius: 0;
                                box-shadow: none;
                                border: 0;
                                margin: 0!important;
                                height: calc(100vh - 93px);
                                padding-top: 16px;
                                padding-bottom: 16px;
                                li {
                                    a {
                                       
                                        padding: 10px 30px;
                                    }
                                }
                            }

                        }
                        
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-grow: 1;
            align-items: center;
            .frm-search {
                padding: 0 30px;
                flex-grow: 1;
                position: relative;
                .txt-search {
                    width: 100%;
                    height: 56px;
                    border: 1px solid #ddd;
                    border-radius: 50px;
                    padding: 0 15px 0 45px;
                    font-size: 15px;
                }
                i {
                    position: absolute;
                    left: 45px;
                    top: 15px;
                }
            }
            .cart {
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;
                i {
                    margin-right: 5px;
                }
                sub {
                    position: absolute;
                    font-size: 10px;
                    left: 22px;
                    top: 0;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                    border-radius: 20px;
                    color: #fff;
                    background: red;
                }
            }
        }
        @include lg(){
            border-top: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            width: 100%;
            background: $white;
            .left {
                .logo {
                    img {
                        max-width: 70px;
                    }
                }
                .nav {
                    > ul {
                        > li {
                            &.home {
                                display: none;
                            }
                            &.dropdown {
                                position: absolute;
                                right: 24px;
                                top: 17px;
                                span {
                                    
                                    span {
                                        display: none;
                                    }
                                    i {
                                        display: block;
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                               

                            }
                        }
                    }
                }
            }
            .right {
                flex-grow: 0;
                .frm-search {
                    display: none;
                }
                .cart {
                    margin-right: 50px;
                    .txt-cart {
                        display: none;
                    }
                }
            }
        }
    }
}

/* ------------------- Setting varian màu sắc -------------------- */
span.trang {
    background-color: #ffffff !important; }
  
  span.den  {
    background-color: #000000 !important; }
  
  span.kem  {
    background-color: #FFFDD0 !important; }
  
  span.do  {
    background-color: #FF0000 !important; }
  
  span.hong  {
    background-color: #FFC0CB !important; }
  
  span.xanh-la  {
    background-color: #00FF00 !important; }
  
  span.xanh {
    background-color: #0000FF !important; }
  
  span.tim  {
    background-color: #BF00BF !important; }
  
  span.vang {
    background-color: #FFFF00 !important; }
  
  span.pastel  {
    background-color: #E9C3BB !important; }
  
  span.bac  {
    background-color: #C0C0C0 !important; }
  
  span.mint  {
    background-color: #05F2DB !important; }
  
  span.cam  {
    background-color: #FFA500 !important; }
  
  span.nau  {
    background-color: #993300 !important; }

    .product-quantity-input {
        max-width: 50px;
        font-weight: 600;
        color: #000;
    }

    .price-style .lable {
        width: 80px;
        font-size: 14px;
        font-weight: 400;
        padding: 9px 0px;
    }
    .control-label {
        margin-bottom: 5px;
        display: block;
    }

    #daterange5 {
        border-radius: 0;
    }