.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover!important;
    &.icon-vote-s {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-vote-white.svg) center no-repeat;
    }
    &.icon-search {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-search.svg) center no-repeat;
    }
    &.icon-cart {
        width: 37px;
        height: 37px;
        background: url(../images/icon/icon-cart.svg) center no-repeat;
    }
    &.icon-wlish {
        width: 36px;
        height: 35px;
        background: url(../images/icon/icon-love.svg) center no-repeat;
    }
    &.icon-menu {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-menu.svg) center no-repeat;
        background-size: contain!important;
    }
    &.icon-user {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-user.svg) center no-repeat;
        background-size: contain!important;
    }
    &.icon-calendar {
        width: 24px;
        height: 24px;
        background: url(../images/icon/icon-calendar.svg) center no-repeat;
        background-size: contain!important;
    }
   
    
}

.show {
    .icon-menu {
      
        background-image: url(../images/icon/icon-menu-active.svg)!important;
       
    }
}
.fa-calendar{
    width: 24px;
    height: 24px;
    background: url(../images/icon/icon-calendar.svg) center no-repeat;
    background-size: contain!important;
    display: block;
}