.searchModal  {
    .modal-dialog {
       
        .modal-content{
            background: none;
            border: 0;
            border-radius: 0;
            .modal-body {
                padding: 10px;
                .frm-search {
                    background: $white;
                    padding: 0 ;
                    position: relative;
                    border-radius: 50px;
                    i {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                    }
                    input {
                        width: 100%;
                        height: 56px;
                        border: 1px solid #ddd;
                        border-radius: 50px;
                        padding: 0 15px 0 45px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.frmModal  {
    .modal-content{
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 20px;
        .btn-close {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .logo {
            width: 134px;
            margin: 20px auto;
            display: block;
            margin-top: 20px;
        }
        h1 {
            font-size: 24px;
            text-align: center;
        }
        .outer-tool {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            .btn-white {
                min-width: 100px;
                border: 1px solid $main;
                color: $main;
            }
            .btn-yellow {
                min-width: 100px;
            }
            &.center {
                margin-bottom: 16px;
                justify-content: center;
                .btn {
                    margin: 0 10px;
                }
            }
        }
        .link-register {
            display: block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .outer-radio {
            display: flex;
            .form-check {
                margin-right: 20px;
            }
        }
    }
}