.swiper  {
    .swiper-slide {
        img {
            width: 100%;
            cursor: pointer;
        }
    }
    &.mySwiper2  {
        margin-bottom: 10px;
    }
    &.mySwiper-thumb {
        .swiper-slide {
          opacity: 0.7;
          &.swiper-slide-thumb-active{
            opacity: 1;
          }
        }
    }
   
}

.mySwiper-main {
    .swiper-slide  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
}
.mySwiper-thumb {
    .swiper-slide  {
        padding-bottom: 100px;
        height: 0px;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include lg(){
        display: none;
    }
}