@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #444;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  max-width: 100%;
  display: inline-block;
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #444;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  max-width: 100%;
  display: inline-block;
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover !important;
}
.icon.icon-vote-s {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-vote-white.svg) center no-repeat;
}
.icon.icon-search {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-search.svg) center no-repeat;
}
.icon.icon-cart {
  width: 37px;
  height: 37px;
  background: url(../images/icon/icon-cart.svg) center no-repeat;
}
.icon.icon-wlish {
  width: 36px;
  height: 35px;
  background: url(../images/icon/icon-love.svg) center no-repeat;
}
.icon.icon-menu {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-menu.svg) center no-repeat;
  background-size: contain !important;
}
.icon.icon-user {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-user.svg) center no-repeat;
  background-size: contain !important;
}
.icon.icon-calendar {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-calendar.svg) center no-repeat;
  background-size: contain !important;
}

.show .icon-menu {
  background-image: url(../images/icon/icon-menu-active.svg) !important;
}

.fa-calendar {
  width: 24px;
  height: 24px;
  background: url(../images/icon/icon-calendar.svg) center no-repeat;
  background-size: contain !important;
  display: block;
}

.btn, button {
  border: 0;
  padding: 0 15px;
  margin: 0;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
}
.btn.btn-white, button.btn-white {
  color: #555;
  text-align: center;
  background: #fff;
}
.btn.btn-yellow, button.btn-yellow {
  color: #555;
  text-align: center;
  background: #DDC156;
}
.btn.btn-yellow:hover, button.btn-yellow:hover {
  background-color: #c5ac48;
  color: #fff;
}

.header .top-header {
  padding: 10px 0;
}
.header .top-header .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top-header .container-fluid address {
  margin: 0;
}
.header .top-header .container-fluid .header-tool {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.header .top-header .container-fluid .header-tool .item-tool {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header .top-header .container-fluid .header-tool .item-tool img {
  margin-right: 5px;
}
.header .top-header .container-fluid .header-tool .item-tool .phone {
  text-decoration: none;
  color: #555;
}
.header .top-header .container-fluid .header-tool .item-tool.search {
  display: none;
}
@media screen and (max-width: 991px) {
  .header .top-header .container-fluid .header-tool .item-tool.search {
    display: block;
  }
}
.header .top-header .container-fluid .header-tool .item-tool .btn-account {
  display: flex;
  align-items: center;
}
.header .top-header .container-fluid .header-tool .item-tool .btn-account span {
  margin: 0 5px;
}
.header .top-header .container-fluid .header-tool .item-tool .btn-account b {
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .header .top-header .container-fluid .header-tool .item-tool .btn-account b {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header .top-header .container-fluid .header-tool .item-tool {
    margin-right: 0;
  }
}
.header .top-header .container-fluid .header-tool .btn i {
  display: none;
}
@media screen and (max-width: 991px) {
  .header .top-header {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px #ddd;
    z-index: 999;
    background: #fff;
    padding: 7px 0;
    border-top: 1px solid #eee;
  }
  .header .top-header .container-fluid address {
    display: none;
  }
  .header .top-header .container-fluid .header-tool {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header .top-header .container-fluid .header-tool .item-tool:first-child {
    display: none;
  }
  .header .top-header .container-fluid .header-tool .item-tool span {
    display: none;
  }
  .header .top-header .container-fluid .header-tool .btn {
    padding: 0;
    background: none;
  }
  .header .top-header .container-fluid .header-tool .btn i {
    display: block;
  }
  .header .top-header .container-fluid .header-tool .btn span {
    display: none;
  }
}
.header .bottom-header {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}
.header .bottom-header .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.header .bottom-header .left {
  display: flex;
  align-items: center;
}
.header .bottom-header .left .logo {
  margin-right: 10px;
}
.header .bottom-header .left .nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .bottom-header .left .nav > ul > li {
  position: relative;
  margin-left: 30px;
}
.header .bottom-header .left .nav > ul > li a, .header .bottom-header .left .nav > ul > li span {
  font-size: 16px;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.header .bottom-header .left .nav > ul > li a.show, .header .bottom-header .left .nav > ul > li span.show {
  color: #DDC156;
}
.header .bottom-header .left .nav > ul > li a:hover, .header .bottom-header .left .nav > ul > li span:hover {
  color: #DDC156;
}
.header .bottom-header .left .nav > ul > li .icon-menu {
  display: none;
}
.header .bottom-header .left .nav > ul > li .sub-nav {
  border-radius: 16px;
  border-color: #eee;
  margin-top: 12px !important;
  margin-left: -20px !important;
  box-shadow: 0 0 5px #eee;
}
.header .bottom-header .left .nav > ul > li .sub-nav li a {
  display: block;
  padding: 8px 16px;
}
@media screen and (max-width: 991px) {
  .header .bottom-header .left .nav > ul > li .sub-nav {
    position: fixed !important;
    width: 100vw;
    transform: translate3d(0, 54px, 0) !important;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    margin: 0 !important;
    height: calc(100vh - 93px);
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header .bottom-header .left .nav > ul > li .sub-nav li a {
    padding: 10px 30px;
  }
}
.header .bottom-header .right {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.header .bottom-header .right .frm-search {
  padding: 0 30px;
  flex-grow: 1;
  position: relative;
}
.header .bottom-header .right .frm-search .txt-search {
  width: 100%;
  height: 56px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 0 15px 0 45px;
  font-size: 15px;
}
.header .bottom-header .right .frm-search i {
  position: absolute;
  left: 45px;
  top: 15px;
}
.header .bottom-header .right .cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header .bottom-header .right .cart i {
  margin-right: 5px;
}
.header .bottom-header .right .cart sub {
  position: absolute;
  font-size: 10px;
  left: 22px;
  top: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 20px;
  color: #fff;
  background: red;
}
@media screen and (max-width: 991px) {
  .header .bottom-header {
    border-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
  }
  .header .bottom-header .left .logo img {
    max-width: 70px;
  }
  .header .bottom-header .left .nav > ul > li.home {
    display: none;
  }
  .header .bottom-header .left .nav > ul > li.dropdown {
    position: absolute;
    right: 24px;
    top: 17px;
  }
  .header .bottom-header .left .nav > ul > li.dropdown span span {
    display: none;
  }
  .header .bottom-header .left .nav > ul > li.dropdown span i {
    display: block;
  }
  .header .bottom-header .left .nav > ul > li.dropdown span:after {
    display: none;
  }
  .header .bottom-header .right {
    flex-grow: 0;
  }
  .header .bottom-header .right .frm-search {
    display: none;
  }
  .header .bottom-header .right .cart {
    margin-right: 50px;
  }
  .header .bottom-header .right .cart .txt-cart {
    display: none;
  }
}

/* ------------------- Setting varian màu sắc -------------------- */
span.trang {
  background-color: #ffffff !important;
}

span.den {
  background-color: #000000 !important;
}

span.kem {
  background-color: #FFFDD0 !important;
}

span.do {
  background-color: #FF0000 !important;
}

span.hong {
  background-color: #FFC0CB !important;
}

span.xanh-la {
  background-color: #00FF00 !important;
}

span.xanh {
  background-color: #0000FF !important;
}

span.tim {
  background-color: #BF00BF !important;
}

span.vang {
  background-color: #FFFF00 !important;
}

span.pastel {
  background-color: #E9C3BB !important;
}

span.bac {
  background-color: #C0C0C0 !important;
}

span.mint {
  background-color: #05F2DB !important;
}

span.cam {
  background-color: #FFA500 !important;
}

span.nau {
  background-color: #993300 !important;
}

.product-quantity-input {
  max-width: 50px;
  font-weight: 600;
  color: #000;
}

.price-style .lable {
  width: 80px;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 0px;
}

.control-label {
  margin-bottom: 5px;
  display: block;
}

#daterange5 {
  border-radius: 0;
}

.footer {
  padding: 40px 0 10px 0;
  border-top: 3px solid #eee;
  margin-top: 20px;
}
.footer h5 {
  font-size: 18px;
  font-weight: 600;
}
.footer address {
  display: inline-block;
  margin: 0;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer ul.list-cate-footer {
  list-style: none;
}
.footer ul.list-cate-footer li a {
  color: #DDC156;
  text-decoration: none;
}
.footer ul.list-cate-footer li::before {
  content: "•";
  color: #DDC156;
  font-weight: bold;
  display: inline-block;
  width: 14px;
  margin-left: -1em;
}
.footer .copyright {
  margin-top: 20px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .footer .copyright {
    text-align: center;
  }
  .footer .col-lg-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.style-italic {
  font-style: italic;
}

.style-left {
  margin-left: 91px;
}

.art-one {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.art-one .thumb {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 65%;
}
.art-one .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.art-one .thumb:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
  content: "";
  transition: all 0.2s ease-in-out 0s;
}
.art-one header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px;
  z-index: 2;
}
.art-one header h3 {
  font-size: 24px;
  margin-bottom: 0;
}
.art-one header h3 a {
  color: #fff;
  text-decoration: none;
}
.art-one:hover .thumb:after {
  background: rgba(0, 0, 0, 0.5);
}
.art-one.active .thumb:after {
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 991px) {
  .art-one {
    margin-bottom: 16px;
  }
  .art-one .thumb {
    padding-bottom: 110%;
  }
}

.art-two {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}
.art-two .thumb {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 48%;
}
.art-two .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.art-two:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
  content: "";
  transition: all 0.2s ease-in-out 0s;
}
.art-two header {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.art-two header h3 {
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.art-two header h3 a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.art-two:hover .thumb:after {
  background: rgba(0, 0, 0, 0.5);
}
.art-two.active .thumb:after {
  background: rgba(0, 0, 0, 0.5);
}

.art-free {
  margin-bottom: 16px;
}
.art-free .inner {
  position: relative;
}
.art-free .inner .wlish {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
}
.art-free .inner .wlish .layer {
  display: none;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 100%;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0);
  font-size: 11px;
  color: #fff;
  border-radius: 5px;
  margin-left: -28px;
  margin-top: 10px;
}
.art-free .inner .wlish .layer:after {
  position: absolute;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  top: -5px;
  left: 50%;
  margin-left: -6.5px;
}
.art-free .inner .wlish:hover .layer {
  display: block;
}
.art-free .thumb {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.art-free .thumb:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  content: "";
  transition: all 0.2s ease-in-out 0s;
}
.art-free .thumb img {
  width: 100%;
  display: block;
}
.art-free header {
  margin-top: 12px;
}
.art-free header h4 {
  font-size: 13px;
}
.art-free header h4 a {
  color: #555;
  text-decoration: none;
}
.art-free:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
.art-free:hover .wlish {
  display: block;
}
.art-free:hover .thumb:after {
  background: rgba(0, 0, 0, 0.4);
}

.art-detail {
  padding-left: 30px;
}
.art-detail h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.art-detail .price {
  margin-bottom: 0px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}
.art-detail .price span {
  width: 80px;
  font-size: 14px;
  font-weight: 400;
}
.art-detail section ul {
  padding-left: 20px;
}
.art-detail section ul li {
  margin-bottom: 8px;
}
.art-detail .choose-kind {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.art-detail .choose-kind .choose-price {
  padding: 5px 15px;
  border-color: #999;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 130px;
}
.art-detail .price-main {
  padding: 20px 0;
  font-weight: 600;
  font-size: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.art-detail .add-cart {
  padding: 5px 0 20px 0;
}
.art-detail .btn-add-cart {
  border: 1px solid #DDC156;
  height: 40px;
  border-radius: 3px;
  color: #DDC156;
  font-size: 16px;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .art-detail {
    padding-left: 0;
    padding-top: 20px;
    border-bottom: 2px solid #eee;
  }
}

.searchModal .modal-dialog .modal-content {
  background: none;
  border: 0;
  border-radius: 0;
}
.searchModal .modal-dialog .modal-content .modal-body {
  padding: 10px;
}
.searchModal .modal-dialog .modal-content .modal-body .frm-search {
  background: #fff;
  padding: 0;
  position: relative;
  border-radius: 50px;
}
.searchModal .modal-dialog .modal-content .modal-body .frm-search i {
  position: absolute;
  left: 15px;
  top: 15px;
}
.searchModal .modal-dialog .modal-content .modal-body .frm-search input {
  width: 100%;
  height: 56px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 0 15px 0 45px;
  font-size: 15px;
}

.frmModal .modal-content {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}
.frmModal .modal-content .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.frmModal .modal-content .logo {
  width: 134px;
  margin: 20px auto;
  display: block;
  margin-top: 20px;
}
.frmModal .modal-content h1 {
  font-size: 24px;
  text-align: center;
}
.frmModal .modal-content .outer-tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.frmModal .modal-content .outer-tool .btn-white {
  min-width: 100px;
  border: 1px solid #DDC156;
  color: #DDC156;
}
.frmModal .modal-content .outer-tool .btn-yellow {
  min-width: 100px;
}
.frmModal .modal-content .outer-tool.center {
  margin-bottom: 16px;
  justify-content: center;
}
.frmModal .modal-content .outer-tool.center .btn {
  margin: 0 10px;
}
.frmModal .modal-content .link-register {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.frmModal .modal-content .outer-radio {
  display: flex;
}
.frmModal .modal-content .outer-radio .form-check {
  margin-right: 20px;
}

.swiper .swiper-slide img {
  width: 100%;
  cursor: pointer;
}
.swiper.mySwiper2 {
  margin-bottom: 10px;
}
.swiper.mySwiper-thumb .swiper-slide {
  opacity: 0.7;
}
.swiper.mySwiper-thumb .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper-main .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.mySwiper-thumb .swiper-slide {
  padding-bottom: 100px;
  height: 0px;
  position: relative;
}
.mySwiper-thumb .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .mySwiper-thumb {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.title-1 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

.outer {
  -moz-column-count: 6;
       column-count: 6;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.outer .art-free {
  display: grid;
  grid-template-rows: 1fr auto;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
@media screen and (min-width: 1921px) {
  .outer {
    -moz-column-count: 9;
         column-count: 9;
  }
}
@media screen and (max-width: 1400px) {
  .outer {
    -moz-column-count: 5;
         column-count: 5;
  }
}
@media screen and (max-width: 1200px) {
  .outer {
    -moz-column-count: 4;
         column-count: 4;
  }
}
@media screen and (max-width: 991px) {
  .outer {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  .outer {
    -moz-column-count: 2;
         column-count: 2;
  }
}

section {
  padding: 25px 0;
}
section.section-top {
  padding-top: 50px;
}
@media screen and (max-width: 991px) {
  section.section-top .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  section.section-cate .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 991px) {
  section.section-free .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}
.row > * {
  padding-left: 5px;
  padding-right: 5px;
}
.row .col-lg-5 {
  flex: 1 0 20%;
}
@media screen and (max-width: 991px) {
  .row .col-lg-5 {
    flex: 1 0 33.33%;
    max-width: 33.33%;
  }
}
@media screen and (max-width: 540px) {
  .row .col-lg-5 {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.section-detail .container {
  max-width: 1000px;
}

.section-des h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-des figure {
  text-align: center;
}
.section-des figure figcaption {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
}

.section-info {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.section-info .title2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-info .outer-radio {
  display: flex;
}
.section-info .outer-radio .form-check {
  margin-right: 30px;
  cursor: pointer;
}
.section-info .outer-btn {
  margin-top: 25px;
  display: flex;
}
.section-info .outer-btn .btn-white {
  height: 40px;
  line-height: 40px;
  border: 1px solid #DDC156;
  border-radius: 3px;
  color: #DDC156;
  margin-right: 20px;
  text-align: center;
  width: 130px;
}
.section-info .outer-btn .btn-yellow {
  text-align: center;
  width: 130px;
  border-radius: 3px;
  color: #fff;
}

.outer-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.outer-tabs a {
  margin: 0 10px;
  color: #555;
  text-decoration: none;
}
.outer-tabs a.active {
  text-decoration: underline;
}

.section-cart {
  margin-bottom: 60px;
}
.section-cart .row {
  margin-left: -20px;
  margin-right: -20px;
}
.section-cart .row .col-lg-8 {
  padding-left: 20px;
  padding-right: 20px;
}
.section-cart .row .col-lg-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.section-cart .title-cart {
  font-size: 24px;
  margin-bottom: 20px;
}
.section-cart .outer-border {
  border: 1px solid #ddd;
}
.section-cart .outer-border .title-kind {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
.section-cart .outer-border .product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding: 10px 20px;
}
.section-cart .outer-border .product article {
  width: 350px;
  display: flex;
}
.section-cart .outer-border .product article > a {
  width: 80px;
}
.section-cart .outer-border .product article .des {
  padding-left: 16px;
}
.section-cart .outer-border .product article .des h4 {
  font-size: 16px;
}
.section-cart .outer-border .product article .des h4 a {
  text-decoration: none;
  color: #555;
}
.section-cart .outer-border .product > .price {
  font-size: 16px;
  font-weight: 600;
  color: #DDC156;
}
@media screen and (max-width: 991px) {
  .section-cart .outer-border .product {
    display: block;
  }
  .section-cart .outer-border .product .count {
    margin-top: 10px;
  }
}
.section-cart .outer-border .btn-buy-more {
  height: 40px;
  line-height: 40px;
  border: 1px solid #DDC156;
  border-radius: 3px;
  color: #DDC156;
  margin-right: 20px;
  text-align: center;
  min-width: 130px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;
}
.section-cart .outer-border .address {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid #ddd;
}
.section-cart .outer-border .address p {
  margin-bottom: 0;
}
.section-cart .outer-border .address span {
  font-weight: 600;
  display: block;
}
.section-cart .outer-border .address .change {
  font-size: 12px;
}
.section-cart .outer-border .address.code {
  border: 0;
}
.section-cart .outer-border .address.code .txt-code {
  width: 100%;
  height: 24px;
  border: 1px solid #DDC156;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.section-cart .outer-border .price-style {
  margin: 10px 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-cart .outer-border .price-style strong {
  font-size: 16px;
}
.section-cart .outer-border .total {
  padding: 10px 0;
  margin: 0 15px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-cart .outer-border .total strong {
  font-size: 18px;
  color: #DDC156;
}
.section-cart .outer-border .note {
  padding: 0 15px;
  color: #aaa;
}

.section-success {
  text-align: center;
}
.section-success .success {
  width: 100%;
  max-width: 600px;
  margin: 60px auto 80px auto;
}
.section-success .success strong {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 24px;
}
.section-success .success p .phone {
  color: #444;
  text-decoration: none;
  font-weight: 600;
}

.add-cart {
  display: flex;
  align-items: center;
}

.numbers {
  margin-left: 30px;
}
.numbers span {
  cursor: pointer;
}
.numbers .minus, .numbers .plus {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}
.numbers input {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.input-group.date {
  position: relative;
}
.input-group.date input {
  border-radius: 3px;
}
.input-group.date .icon-calendar {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 16%;
}
@media screen and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 540px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  float: left;
  padding: 0 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #DDC156;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.outer-slide {
  display: flex;
  align-items: flex-start;
}
.outer-slide .mySwiper {
  width: 90px;
  height: 700px;
  padding-right: 10px;
}
.outer-slide .mySwiper2 {
  width: 1px;
  flex-grow: 1;
}

.price-style {
  padding: 16px 0;
  border-top: 1px solid #eee;
}
.price-style h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.price-style .outer-size {
  display: flex;
}
.price-style .outer-size > div {
  margin-right: 10px;
}
.price-style .outer-size .radio-size label {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
}
.price-style .outer-size .radio-size input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media screen and (max-width: 991px) {
  .price-style .outer-size {
    flex-wrap: wrap;
  }
}

.radio-size {
  display: block;
  position: relative;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.radio-size input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-size input:checked ~ .checkmark {
  border: 1px solid #e4393c;
}
.radio-size .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.radio-size .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.radio-size:hover input ~ .checkmark {
  background-color: #fff;
}

.radio-color {
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 29px;
  margin-left: 4px;
}
.radio-color label {
  position: relative;
  width: 35px;
  height: 35px;
}
.radio-color input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-color input:checked ~ .checkmark:after {
  content: "";
  left: -4px;
  top: -4px;
  width: 35px;
  height: 35px;
  border: solid 1px #e4393c;
  position: absolute;
}
.radio-color .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
}
.radio-color .checkmark:after {
  content: "";
  left: -4px;
  top: -4px;
  width: 35px;
  height: 35px;
  border: solid 1px #ddd;
  position: absolute;
}

.radio-service {
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.radio-service label {
  position: relative;
}
.radio-service input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-service input:checked ~ .checkmark {
  border: 1px solid #e4393c;
}
.radio-service .checkmark {
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
}
.radio-service .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.radio-service:hover input ~ .checkmark {
  background-color: #fff;
}

.outer-date {
  display: flex;
}
.outer-date .date span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
.outer-date .date .gj-datepicker {
  width: 210px !important;
}
.outer-date .date:first-child {
  margin-right: 32px;
}
@media screen and (max-width: 991px) {
  .outer-date .date:first-child {
    margin-bottom: 10px;
  }
}
.outer-date .date button {
  height: 36px;
  border-radius: 0;
  width: 36px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-date .date input {
  height: 36px;
  border-radius: 0;
}
@media screen and (max-width: 991px) {
  .outer-date {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {
  .section-detail {
    padding-top: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */