@font-face {
    font-family: 'SVN-Aptima';
    src: url('SVN-Aptimabold.woff2') format('woff2'),
        url('SVN-Aptimabold.woff') format('woff'),
        url('SVN-Aptimabold.svg#SVN-Aptimabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aptima';
    src: url('SVN-Aptima.woff2') format('woff2'),
        url('SVN-Aptima.woff') format('woff'),
        url('SVN-Aptima.svg#SVN-Aptima') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

